@model IEnumerable<HtmlHelpersCore2.Models.User>


@{
    ViewData["Title"] = "Usuarios del HtmlHelperCore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>
    @Html.ActionLink("Nuevo Usuario","_CreatePartial")
</p>
@{
    Html.RenderPartial("_IndexPartial");
}
