@{
    ViewData["Title"] = "Home Page";
}


<h2>@ViewData["Title"]</h2>
<h3>Welcome to HtmlHelpers Core</h3>

<p>Use this area to provide additional information.</p>
<li><a asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
